<nav>
    <ul class="main-nav">
        <li class="main-nav__item"><a href="/">Home</a></li>
        <li class="main-nav__item"><a href="/profile/martin">Martin's profile</a></li>
        <li class="main-nav__item"><a href="/contact">Contact</a></li>
    </ul>
</nav> 