<%-  include('./partials/head.ejs', {title: 'Thank you'} ) %> 
        <div class="container"> 

            <% include partials/nav.ejs %>

            <h1>Thank you, <%= data.yourname %></h1>
            
            <p>You contacted: <%= data.who %> in <%= data.department %></p>

        </div>
    </body>
</html>