        
    <%-  include('./partials/head.ejs', {title: 'Home'} ) %> 

        <div class="container"> 
            <% include partials/nav.ejs %>
            <h1>The Home page</h1>
            <h4>Simple pages using Node, Express and .ejs templates</h4> 

            <div class="tips">
                <p>Populate a contact form using query strings:</p> 
                <p><a href="/contact?name=Martin&dept=Sales&contact=John&email=hello@martindm.uk">Pre-fill the contact form</a></p>
 
            </div>
        </div>
        
    </body>
</html>