

        <%-  include('./partials/head.ejs', {title: 'Profile'} ) %> 

        <div class="container">
        
        <% include partials/nav.ejs %>
        
        <h1>
        <span class="small">Profile of</span>
        <%= data.person %>
        </h1> 
      
        <div class="hobbies">
            <h2 class="hobbies-title">Hobbies</h2>
            <p>Items from an array passed in on the .get method for this url:</p>
            <ul class="hobbies__list">
                <% data.hobbies.forEach( function(item) { %>
                <li class="hobbies__item"><%= item %></li> 
                <% }); %>
            </ul>
        </div>
        
        </div>
    </body>
</html>